<app-user-layout>
  <h1>Short Lists</h1>
  <div nz-row>
    <div nz-col [nzSpan]="10">
      <nz-form-item>
        <nz-form-label nzFor="email">Конкурсы</nz-form-label>
        <nz-form-control>
          <nz-select class="select" [(ngModel)]="currentContestId" nzPlaceHolder="Конкурс" (ngModelChange)="handleChangeContest()">
            <nz-option *ngFor="let contest of contests" [nzValue]="contest.id" [nzLabel]="contest.subname"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="10">
      <nz-form-item>
        <nz-form-label nzFor="email">Секции</nz-form-label>
        <nz-form-control>
          <nz-select [disabled]="currentContestId < 0" class="select" [(ngModel)]="currentSection" nzPlaceHolder="Секция" (ngModelChange)="handleChangeSection()">
            <nz-option *ngFor="let section of sections" [nzValue]="section.id" [nzLabel]="section.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <div class="images">
    <div *ngFor="let file of files" class="thumb-wrap">
      <span class="file-name">{{file.name}}</span>
      <img class="thumb" [src]="file.filename">
      <div class="thumb-controls">
        {{file.average | number:'1.1-2'}}
      </div>
    </div>
  </div>

</app-user-layout>