<div class="content-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">{{'main' | translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a [routerLink]="'/sections/' + parentId"
        >{{'publications' | translate}}</a
      >
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{pub.name | translate}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="publication">
    <h1>{{pub && pub.name}}</h1>
    <div>
      {{pub && pub.pubtype===0 ? (pub.dateShow | date: 'dd.M.yyyy') : ''}}
    </div>

    <div [innerHTML]="pub && pub.content | safeHtml"></div>
  </div>
</div>
