<app-admin-layout>
  <h1>Секции</h1>
  <div class="sections-wrapper">
    <nz-select class="sections" [(ngModel)]="currentSection" nzPlaceHolder="Секция" (ngModelChange)="handleChangeSection()">
      <nz-option *ngFor="let section of sections" [nzValue]="section.id" [nzLabel]="section.name"></nz-option>
    </nz-select>
    <i (click)="approve()" class="icon" nz-icon nzType="check" nzTheme="outline" style="margin-right: 10px"></i>
    <i (click)="decline()" class="icon" nz-icon nzType="stop" nzTheme="outline" style="margin-right: 10px"></i>
  </div>


  <nz-table [nzData]="works" nzShowPagination (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzLoading]="isAboutsLoading"
    [nzScroll]="{ x: '700px', y: '500px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzShowCheckbox [(nzChecked)]="isAllDisplayDataChecked" [nzIndeterminate]="isIndeterminate" (nzCheckedChange)="checkAll($event)"></th>
        <th nzWidth="200px">Name</th>
        <th nzWidth="200px">Image</th>
        <th nzWidth="200px">Moder</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of works">
        <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{data.name}}</td>
        <td>
          <img [src]="data.filename" class="thumb">
        </td>
        <td>
          {{data.moder | moderState}}
        </td>
      </tr>
    </tbody>
  </nz-table>


</app-admin-layout>