<app-admin-layout>
  <h1>Конкурсы</h1>
  <button
    *rbacShow="['superAdmin', 'admin']"
    class="margin-top-small margin-bottom-small"
    nz-button
    nzType="primary"
    (click)="append()"
  >
    Добавить
  </button>
  <nz-table [nzData]="entities" [nzScroll]="{ x: '3200px', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="140px" nzLeft="0px"></th>
        <th nzWidth="200px">Salone</th>
        <th nzWidth="200px">Subname</th>
        <th nzWidth="200px">Years</th>
        <th nzWidth="200px">Date start</th>
        <th nzWidth="200px">Date stop</th>
        <th nzWidth="200px">Jury end</th>
        <th nzWidth="200px">Rate show</th>
        <th nzWidth="200px">Show type</th>
        <th nzWidth="200px">Show rate state</th>
        <th nzWidth="200px">Democraty</th>
        <th nzWidth="200px">Pay type</th>
        <th nzWidth="200px">Sections count</th>
        <th nzWidth="200px">Max rate</th>
        <th nzWidth="200px">Max size</th>
        <th nzWidth="200px">Max weight</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of entities"
        (click)="loadRelated(data.id)"
        [class.selectedRow]="currentContest.id===data.id"
      >
        <td style="cursor:pointer" nzLeft="0px">
          <i
            *rbacShow="['superAdmin', 'admin']"
            class="icon"
            (click)="edit(data.id)"
            nz-icon
            nzType="edit"
            nzTheme="outline"
          ></i>
          <i
            *rbacShow="['superAdmin', 'admin']"
            class="icon"
            nz-icon
            nzType="delete"
            nzTheme="outline"
            nz-popconfirm
            nzPopconfirmTitle="Удалить?"
            nzPopconfirmPlacement="top"
            (nzOnConfirm)="remove(data.id)"
          ></i>
          <i
            *rbacShow="['superAdmin', 'admin', 'moder']"
            class="icon"
            nz-icon
            nzType="file-image"
            nzTheme="outline"
            [routerLink]="data.id + '/works'"
          ></i>
          <i
            *rbacShow="['superAdmin', 'admin']"
            class="icon"
            nz-icon
            nzType="user-add"
            nzTheme="outline"
            [routerLink]="data.id + '/juries'"
          ></i>
          <i
            *rbacShow="['superAdmin', 'admin']"
            class="icon"
            nz-icon
            nzType="picture"
            nzTheme="outline"
            [routerLink]="data.id + '/results'"
          ></i>
          <i
            *rbacShow="['superAdmin', 'admin']"
            class="icon"
            nz-icon
            nzType="crown"
            nzTheme="outline"
            [routerLink]="data.id + '/awardStacks'"
          ></i>
        </td>
        <td nzWidth="200px">{{data.salone}}</td>
        <td nzWidth="200px">{{data.subname}}</td>
        <td nzWidth="200px">{{data.years}}</td>
        <td nzWidth="200px">{{data.dateStart | date}}</td>
        <td nzWidth="200px">{{data.dateStop}}</td>
        <td nzWidth="200px">{{data.dateJuriEnd}}</td>
        <td nzWidth="200px">{{data.dateRateShow}}</td>
        <td nzWidth="200px">{{data.showType}}</td>
        <td nzWidth="200px">{{data.showRateState}}</td>
        <td nzWidth="200px">{{data.democraty}}</td>
        <td nzWidth="200px">{{data.payType}}</td>
        <td nzWidth="200px">{{data.sectionCount}}</td>
        <td nzWidth="200px">{{data.maxRate}}</td>
        <td nzWidth="200px">{{data.maxSize}}</td>
        <td nzWidth="200px">{{data.maxWeight}}</td>
      </tr>
    </tbody>
  </nz-table>

  <app-contest-about
    *rbacShow="['superAdmin', 'admin', 'moder']"
    [contestId]="currentContest && currentContest.id"
  ></app-contest-about>

  <app-contest-sections
    *rbacShow="['superAdmin', 'admin']"
    [contestId]="currentContest && currentContest.id"
  ></app-contest-sections>

  <app-contest-award-stack
    *rbacShow="['superAdmin', 'admin']"
    [contestId]="currentContest && currentContest.id"
  ></app-contest-award-stack>

  <app-contest-menu
    *rbacShow="['superAdmin', 'admin']"
    [contestId]="currentContest && currentContest.id"
  ></app-contest-menu>

  <app-contest-applications
    *rbacShow="['superAdmin', 'admin', 'moder']"
    [contestId]="currentContest && currentContest.id"
  ></app-contest-applications>

  <nz-modal
    [(nzVisible)]="isEditVisible"
    nzTitle="Редактирование"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">Salone</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select
            formControlName="saloneId"
            nzAllowClear
            nzShowSearch="true"
          >
            <nz-option
              *ngFor="let salone of salones"
              [nzValue]="salone.id"
              [nzLabel]="salone.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="subname">Sub name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="subname"
            type="subname"
            id="subname"
            formControlName="subname"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="years">Years</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="years"
            type="years"
            id="years"
            formControlName="years"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="dateStart">Date start</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            nzFormat="dd.MM.yyyy"
            formControlName="dateStart"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="dateStop">Date stop</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            nzFormat="dd.MM.yyyy"
            formControlName="dateStop"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="dateJuriEnd">Jury end</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            nzFormat="dd.MM.yyyy"
            formControlName="dateJuriEnd"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="dateRateShow"
          >Rate Show</nz-form-label
        >
        <nz-form-control [nzSpan]="14">
          <nz-date-picker
            nzFormat="dd.MM.yyyy"
            formControlName="dateRateShow"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="showType">ShowType</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="showType"
            type="showType"
            id="showType"
            formControlName="showType"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="showRateState"
          >Show rate state</nz-form-label
        >
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="showRateState"
            type="showRateState"
            id="showRateState"
            formControlName="showRateState"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="democraty">Democraty</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="democraty"
            type="democraty"
            id="democraty"
            formControlName="democraty"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="payType">Pay type</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="payType"
            type="payType"
            id="payType"
            formControlName="payType"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="sectionCount"
          >Section count</nz-form-label
        >
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="sectionCount"
            type="sectionCount"
            id="sectionCount"
            formControlName="sectionCount"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="maxrate">Max rate</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="maxrate"
            type="maxrate"
            id="maxrate"
            formControlName="maxrate"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="maxsize">Max size</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="maxsize"
            type="maxsize"
            id="maxsize"
            formControlName="maxsize"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="maxWeight">Max weight</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input
            nz-input
            name="maxWeight"
            type="maxWeight"
            id="maxWeight"
            formControlName="maxWeight"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</app-admin-layout>
