<h2>Заявки</h2>
<nz-table [nzData]="applications" [nzScroll]="{ x: '700px', y: '240px' }">
  <thead>
    <tr>
      <th nzWidth="100px"></th>
      <th nzWidth="200px">User</th>
      <th nzWidth="200px">Date</th>
      <th nzWidth="200px">Sections</th>
      <th nzWidth="200px">Payment</th>
      <th nzWidth="200px">State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of applications">
      <td style="cursor:pointer">
        <i *rbacShow="['superAdmin', 'admin', 'moder']" (click)="approve(data.id)" nz-icon nzType="check" nzTheme="outline" style="margin-right: 10px"></i>
        <i *rbacShow="['superAdmin', 'admin', 'moder']" nz-icon nzType="stop" nzTheme="outline" (click)="decline(data.id)"></i>
      </td>
      <td nzWidth="200px">{{data.user}}</td>
      <td nzWidth="200px">{{data.dateReg}}</td>
      <td nzWidth="200px">{{data.sectionCount}}</td>
      <td nzWidth="200px">{{data.payment}}</td>
      <td nzWidth="200px">{{data.regState | regState}}</td>
    </tr>
  </tbody>
</nz-table>