<app-admin-layout>
  <nz-table #basicTable [nzData]="users" [nzScroll]="{ x: '900px', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="20px">id</th>
        <th nzWidth="200px">Организатор</th>
        <th nzWidth="200px">Пользователь</th>
        <th nzWidth="200px">Тип</th>
        <th nzWidth="200px" nzRight="0px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of users">
        <td>{{data.id}}</td>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.nickName}}</td>
        <td (click)="edit(data.id)" style="cursor:pointer" nzRight="0px">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="firstName">First name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="firstName" type="firstName" id="firstName" formControlName="firstName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="lastName">Last name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="lastName" type="lastName" id="lastName" formControlName="lastName">
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</app-admin-layout>