<app-user-layout>
  <h1>Конкурсы</h1>
  <nz-table [nzData]="contests">
    <thead>
      <tr>
        <th nzWidth="200px">Salone</th>
        <th nzWidth="200px">Subname</th>
        <th nzWidth="200px">Date start</th>
        <th nzWidth="200px">Date stop</th>
        <th nzWidth="200px"></th>
        <th nzWidth="200px"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of contests">
        <td nzWidth="200px">{{data.salone}}</td>
        <td nzWidth="200px">{{data.subname}}</td>
        <td nzWidth="200px">{{data.dateStart | date}}</td>
        <td nzWidth="200px">{{data.dateStop}}</td>
        <td nzWidth="200px">
          <button nz-button *ngIf="data.canApply" (click)="applyForContest(data.id, data.sectionCount)">Request</button>
          <div [ngSwitch]="data.regState">
            <span *ngSwitchCase="0">Подана заявка</span>
            <span *ngSwitchCase="1">Принята</span>
            <span *ngSwitchCase="2">Ожидает оплаты</span>
            <span *ngSwitchCase="3">Отклонена</span>
          </div>
        </td>
        <td nzWidth="200px">
          <i nz-icon nzType="camera" nzTheme="outline" [routerLink]="data.id"></i>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [nzOkDisabled]="sectionForm.invalid" nzWidth="300" [(nzVisible)]="isApplicationVisible" nzTitle="Заявка" (nzOnCancel)="handleCancelApplication()"
    (nzOnOk)="handleOkApplication()">
    <form nz-form [formGroup]="sectionForm">
      <nz-form-item>
        <nz-form-label nzFor="maxCountImg">Количество секций</nz-form-label>
        <nz-form-control>
          <input nz-input name="sectionCount" type="sectionCount" id="sectionCount" formControlName="sectionCount">
          <div *ngIf="sectionForm.controls.sectionCount.invalid && (sectionForm.controls.sectionCount.dirty || sectionForm.controls.sectionCount.touched)">
            <nz-alert nzType="error" *ngIf="sectionForm.controls.sectionCount.errors.required" nzMessage="Это поле обязательно для заполнения"></nz-alert>
            <nz-alert nzType="error" *ngIf="sectionForm.controls.sectionCount.errors.min" nzMessage="Это поле должно быть больше нуля!"></nz-alert>
            <nz-alert nzType="error" *ngIf="sectionForm.controls.sectionCount.errors.max" nzMessage="Это поле должно быть меньше или равно {{currentSectionCount}}"></nz-alert>
          </div>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>






</app-user-layout>