<nz-layout>
  <nz-sider nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ul>
        <li nz-menu-item>
          <a routerLink="/user/applications">Заявки</a>
        </li>
        <li nz-menu-item *ngFor="let item of menu">
          <a [routerLink]="item.url">{{item.name}}</a>
        </li>

      </ul>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <ng-content></ng-content>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>