<div class="register-container">
  <div nz-row>
    <div nz-col [nzSm]="6" [nzXs]="24">&nbsp;</div>
    <div nz-col [nzSm]="14" [nzXs]="24">
      <h1>{{'registration' | translate}} </h1>
    </div>
  </div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">{{'email' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">{{'firstName' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="firstName" id="firstName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">{{'lastName' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="lastName" id="lastName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>{{'password' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
        <input nz-input type="password" id="password" formControlName="password" (ngModelChange)="updateConfirmValidator()" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>{{'confirmPassword' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please confirm your password! {{'pleaseConfirmPassword' | translate}}
          </ng-container>
          <ng-container *ngIf="control.hasError('confirm')">
            {{'passwordsInconsistent' | translate}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickName" nzRequired>
        <span>
          {{'nickname' | translate}}
          <i nz-icon nz-tooltip nzTitle="What do you want other to call you" nzType="question-circle" nzTheme="outline"></i>
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
        <input nz-input id="nickName" formControlName="nickName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>{{'phone' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phone']" nzErrorTip="Please input your phone number!">
        <nz-input-group>
          <input formControlName="phone" id="'phone'" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">{{'avatar' | translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
          <button nz-button>
            <i nz-icon nzType="upload"></i>
            <span>{{'selectFile' | translate}}</span>
          </button>
        </nz-upload>
      </nz-form-control>
	</nz-form-item>

    <div style="padding-left: 25%">
	  <nz-form-control>	
		  <label nz-checkbox formControlName="iReadAboutPersonal">
          <span>{{'iReadAboutPersonal' | translate }}</span>
        </label>
	  </nz-form-control>
	  <nz-form-control>	
		  <label nz-checkbox formControlName="iConfirmAgreement">
          <span>{{'iConfirmAgreement' | translate }}</span>
        </label>
	  </nz-form-control>
	  <nz-form-control>	
		  <label nz-checkbox formControlName="iKnowAboutCookies">
          <span>{{'iKnowAboutCookies' | translate }}</span>
        </label>
	  </nz-form-control>
    </div>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" [disabled] = "!validateForm.value.iReadAboutPersonal ||
			!validateForm.value.iConfirmAgreement || !validateForm.value.iKnowAboutCookies">{{'register' | translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
