* {
  font-family: FuturaPTBook;
}

html {
  font-size: 12px;
}

.main-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

ul {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #fff;
}

.main-container {
  min-height: calc(100vh - 21rem);
}

.main-container > * {
  min-height: calc(100vh - 21rem);
}

.square {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}



.p-menubar-root-list {
  width: 100%;
}

:root {
  --main-width: 1440px;
  --menu-bg: #2c2d31;
  --menu-active-text: #EFBC82;
  --menu-text: #fff;
  --menu-font-size: 12px;
}

.p-menubar, p-slidemenu {
  background: var(--menu-bg) !important;
  box-shadow: none;
  border: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #fff !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #fff !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-menubar .p-menubar-root-list > .p-menuitem:hover > .p-menuitem-link:not(.p-disabled) .p-menuitem-text,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem:hover .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
  background: var(--menu-bg) !important;
  color: #EFBC82 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem  .p-menuitem-link:not(.p-disabled):hover {
  background: var(--menu-bg) !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem:hover > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-slidemenu-wrapper > .p-menuitem:hover > .p-menuitem-link .p-menuitem-text {
  color: #EFBC82 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: var(--menu-bg) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}


.p-menubar .p-submenu-list,
.p-slidemenu .p-submenu-list {
  background: var(--menu-bg) !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-slidemenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: var(--menu-bg) !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menuitem.p-menuitem--active .p-menuitem-link .p-menuitem-text {
  color: var(--menu-active-text) !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem--active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text,
.p-slidemenu .p-slidemenu-wrapper > .p-menuitem.p-menuitem--active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
  color: #EFBC82 !important;
}

.p-menubar .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menuitem-link .p-menuitem-text {
  color: var(--menu-text) !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}



.p-button {
  background-color: transparent !important;
  border-color: #D0D4D0 !important;
  color: #D0D4D0 !important;
  font-size: 12px !important;
  border-radius: 6px !important;
}

.p-button:hover {
  background-color: #CB893E !important;
  border-color: #CB893E !important;
  color: #353535 !important;
}

.p-button-secondary {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #CB893E !important;
  border-color: #CB893E !important;
  color: #353535;
}

.wrap-0 {
  max-width: 1170px;
  width: 100%;
}

.wrap {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p-datatable table {
  table-layout: auto !important;
}


.p-menuitem__slash .p-menuitem-link {
  width: 8px !important;
  padding: 0 !important;
}

.p-dialog-header {
  background: transparent !important;
  height: 40px;
}

