* {
  font-family: Futura-Normal;
}

html {
  font-size: 14px;
}

.main-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

ul {
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #D0D4D0;
}

.main-container {
  min-height: calc(100vh - 16rem);
}

.main-container > * {
  min-height: calc(100vh - 16rem);
}

.square {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}



.p-menubar-root-list {
  width: 100%;
}

:root {
  --main-width: 1440px;
  --menu-bg: #2A2B2F;
  --menu-active-text: #EFBC82;
  --menu-text: #D0D4D0;
  --menu-font-size: 12px;
}

.p-menubar, p-slidemenu {
  background: var(--menu-bg) !important;
  box-shadow: none;
  border: none !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #D0D4D0 !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #D0D4D0 !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-menubar .p-menubar-root-list > .p-menuitem:hover > .p-menuitem-link:not(.p-disabled) .p-menuitem-text,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem:hover .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
  background: var(--menu-bg) !important;
  color: #EFBC82 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem  .p-menuitem-link:not(.p-disabled):hover {
  background: var(--menu-bg) !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem:hover > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-slidemenu-wrapper > .p-menuitem:hover > .p-menuitem-link .p-menuitem-text {
  color: #EFBC82 !important;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-slidemenu .p-slidemenu-wrapper .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: var(--menu-bg) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
}


.p-menubar .p-submenu-list,
.p-slidemenu .p-submenu-list {
  background: var(--menu-bg) !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-slidemenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: var(--menu-bg) !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menuitem.p-menuitem--active .p-menuitem-link .p-menuitem-text {
  color: var(--menu-active-text) !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem--active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text,
.p-slidemenu .p-slidemenu-wrapper > .p-menuitem.p-menuitem--active > .p-menuitem-link:not(.p-disabled) .p-menuitem-text {
  color: #EFBC82 !important;
}

.p-menubar .p-menuitem-link .p-menuitem-text,
.p-slidemenu .p-menuitem-link .p-menuitem-text {
  color: var(--menu-text) !important;
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.p-button {
  background-color: transparent !important;
  border-color: #D0D4D0 !important;
  color: #D0D4D0 !important;
  font-size: 12px !important;
  border-radius: 6px !important;
  font-family: Futura-Normal;
}

.p-button:hover {
  background-color: #CB893E !important;
  border-color: #CB893E !important;
  color: #353535 !important;
  font-family: Futura-DemiBold;
}

.p-button-secondary {
  background-color: transparent !important;
  border-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #CB893E !important;
  border-color: #CB893E !important;
  color: #353535;
}

.wrap-0 {
  max-width: 1170px;
  width: 100%;
}

.wrap {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.p-datatable table {
  /* Выключил так как съезжало выравнивание */
  /* table-layout: auto !important; */
}


.p-menuitem__slash .p-menuitem-link {
  width: 8px !important;
  padding: 0 !important;
}

.p-dialog-header {
  height: 20px;

}

.hidden-scroll::-webkit-scrollbar {
  width: 16px;
  scrollbar-width: thin;
}


.invisible-scroll::-webkit-scrollbar {
  display: none;
}

.hidden-scroll::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}
 
.hidden-scroll::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
    border-radius: 100px;
}

.selected-image::after {
  position: absolute;
  top: 15px;
  background-color: #D0D4D0;
  height: 2px;
  content: "";
  width: 13rem;
  display: block;;
}

.p-inputtext {
  color: #D0D4D0 !important;
  background-color: rgb(30, 31, 37) !important;
}

.p-dropdown {
  background-color: rgb(30, 31, 37) !important;
}

.p-dialog-header,
.p-dialog-content,
.p-dialog-footer, 
.p-toolbar, 
.p-datatable, 
.p-datatable-tbody, 
.p-datatable .p-datatable-tbody > tr, 
.p-datatable-thead, 
.p-datatable .p-datatable-thead > tr > th,
.p-tieredmenu,
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link,
.p-tieredmenu .p-submenu-list,
.p-tieredmenu .p-menuitem-link .p-menuitem-text,
.p-tieredmenu .p-menuitem-link:not(.p-disabled):hover {
  background-color: rgb(30, 31, 37) !important;
  color: #D0D4D0 !important;
}

.p-tieredmenu .p-menuitem-link {
  color: #D0D4D0 !important;
}

.p-tieredmenu {
  border: none !important;
}

.preview {
  max-width: 100%;
  max-height: calc(100vh - 100px);
}

.responsive {
  width: 60%;
  height: auto;
  object-fit: contain;
  max-height: calc(100vh - 36rem)
}

.p-slidemenu-wrapper {
  height: 100% !important;

}

