nz-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.logo-menu-container {
  display: flex;
  align-items: center;
}

.user-login {
  cursor: pointer;
  font-weight: 900;
}

