<nz-layout>
  <nz-header>
    <div class="logo-menu-container">
      <a routerLink="/" class="logo">
        <i nz-icon [nzType]="'home'"></i>
      </a>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li
          *ngFor="let m of staticMenu"
          [routerLink]="m.url"
          nz-submenu
          [nzTitle]="m.title | translate"
        >
          <ul>
            <li
              *ngFor="let s of m.children"
              nz-menu-item
              [routerLink]="s.id ? '/sections/'+s.id : s.url"
            >
              {{s.title | translate}}
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <a *rbacShow="['superAdmin', 'admin', 'moder']" routerLink="/admin/contests"
      >admin</a
    >

    <a *ngIf="!currentUser.isLoggedIn" routerLink="login" class="user-login">
      <i nz-icon [nzType]="'user'"></i>
      {{'login' | translate}}
    </a>
    <span *ngIf="currentUser.isLoggedIn" (click)="logout()" class="user-login">
      <i nz-icon [nzType]="'user'"></i>
      {{'logout' | translate}}
    </span>

    <div class="logo-menu-container">
      <app-lang-selector></app-lang-selector>
    </div>

    <a
      *ngIf="currentUser.isLoggedIn"
      routerLink="/user/applications"
      class="user-login"
    >
      {{currentUser && currentUser.user && currentUser.user.firstName}}
    </a>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

  <nz-footer nzTheme="dark">
    <div class="footer-wrap">
      <div class="left">
        <div>{{organizer.name}}</div>
        <div>{{organizer.emailPub}}</div>
      </div>
      <div class="right">
        <div>{{organizer.addressLine1}}</div>
        <div>{{organizer.www}}</div>
      </div>
    </div>
  </nz-footer>
</nz-layout>
