<nz-layout>
  <nz-header>
    <div class="logo-menu-container">
      <a routerLink="/" class="logo">
        <i nz-icon [nzType]="'home'"></i>
      </a>
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li *ngFor="let m of staticMenu" [routerLink]="m.url" nz-submenu [nzTitle]="m.title | translate">
          <ul>
            <li *ngFor="let s of m.children" nz-menu-item [routerLink]="'/sections/'+s.id">{{s.title | translate}}</li>
          </ul>
        </li>
        <li *ngFor="let m of contestMenus" [routerLink]="'/sections/'+m.id" nz-submenu [nzTitle]="m.title | translate">
          <ul>
            <li *ngFor="let s of m.children" nz-menu-item [routerLink]="'/sections/'+s.id">{{s.title | translate}}</li>
          </ul>
        </li>
      </ul>
    </div>

    <a *rbacShow="['admin']" routerLink="/admin/contests">admin</a>

    <a *ngIf="!currentUser.isLoggedIn" routerLink="login" class="user-login">
      <i nz-icon [nzType]="'user'"></i>
      {{'login' | translate}}
    </a>
    <span *ngIf="currentUser.isLoggedIn" (click)="logout()" class="user-login">
      <i nz-icon [nzType]="'user'"></i>
      {{'logout' | translate}}
    </span>

    <div class="logo-menu-container">
      <app-lang-selector></app-lang-selector>
    </div>

    <a *ngIf="currentUser.isLoggedIn" routerLink="/user/applications" class="user-login">
      {{currentUser.user.firstName}}
    </a>
  </nz-header>

  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>

  <nz-footer nzTheme="dark">Тут будет подвал</nz-footer>
</nz-layout>