<app-admin-layout>
  <h1>Термины</h1>
  <button *rbacShow="['superAdmin']" class="margin-top-small margin-bottom-small" nz-button nzType="primary" (click)="append()">Добавить</button>
  <nz-table [nzData]="entities" [nzScroll]="{ x: '1000', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzWidth="200px">Code</th>
        <th nzWidth="200px">Category</th>
        <th nzWidth="200px">Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of entities" (click)="editPhrases(data.id)" [class.selectedRow]="currentLexiconId===data.id">
        <td style="cursor:pointer">
          <i *rbacShow="['superAdmin']" (click)="edit(data.id)" nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i *rbacShow="['superAdmin']" nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top"
            (nzOnConfirm)="remove(data.id)"></i>
        </td>
        <td>{{data.code}}</td>
        <td>{{data.name}}</td>
        <td>{{data.commentPhrase}}</td>
      </tr>
    </tbody>
  </nz-table>


  <h1>Слова</h1>
  <button *rbacShow="['superAdmin']" [disabled]="!currentLexiconId" class="margin-top-small margin-bottom-small" nz-button
    nzType="primary" (click)="appendPhrase()">Добавить</button>
  <nz-table [nzData]="phrases" [nzScroll]="{ x: '1000', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzWidth="200px">Language</th>
        <th nzWidth="200px">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of phrases">
        <td style="cursor:pointer">
          <i *rbacShow="['superAdmin']" (click)="editPhrase(data)" nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i *rbacShow="['superAdmin']" nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top"
            (nzOnConfirm)="removePhrase(data.id)"></i>
        </td>
        <td>{{data.language}}</td>
        <td>{{data.name}}</td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="code">Code</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="code" type="code" id="code" formControlName="code">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="category">Category</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="category" type="category" id="category" formControlName="category">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="commentPhrase">Comment</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="commentPhrase" type="commentPhrase" id="commentPhrase" formControlName="commentPhrase">
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>


  <nz-modal [(nzVisible)]="isEditPhraseVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancelPhrase()" (nzOnOk)="handleOkPhrase()">
    <form nz-form [formGroup]="phraseForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="language">Language</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="languageId" nzAllowClear nzPlaceHolder="Язык">
            <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" type="name" id="name" formControlName="name">
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</app-admin-layout>