<app-admin-layout>
  <h1>Языки</h1>
  <button *rbacShow="['superAdmin']" class="margin-top-small margin-bottom-small" nz-button nzType="primary" (click)="append()">Добавить</button>
  <nz-table #basicTable [nzData]="entities" [nzScroll]="{ x: '1000', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="60px" nzLeft="0px"></th>
        <th nzWidth="200px">Name</th>
        <th nzWidth="200px">Dialect</th>
        <th nzWidth="200px">Short</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of entities">
        <td style="cursor:pointer">
          <i *rbacShow="['superAdmin']" (click)="edit(data.id)" nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i *rbacShow="['superAdmin']" nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top"
            (nzOnConfirm)="remove(data.id)"></i>
        </td>
        <td>{{data.name}}</td>
        <td>{{data.nameDialect}}</td>
        <td>{{data.short}}</td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" type="name" id="name" formControlName="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="nameDialect">Name dialect</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="nameDialect" type="nameDialect" id="nameDialect" formControlName="nameDialect">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="short">Short</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="short" type="short" id="short" formControlName="short">
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</app-admin-layout>