<app-admin-layout>
  <h1>Организаторы</h1>
  <button class="margin-top-small margin-bottom-small" nz-button nzType="primary" (click)="append()">Добавить</button>
  <nz-table #basicTable [nzData]="entities" [nzScroll]="{ x: '3260px', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px"></th>
        <th nzWidth="200px">Language</th>
        <th nzWidth="200px">Name</th>
        <th nzWidth="200px">Email sys</th>
        <th nzWidth="200px">Email pub</th>
        <th nzWidth="200px">Address 1</th>
        <th nzWidth="200px">Address 2</th>
        <th nzWidth="200px">www</th>
        <th nzWidth="200px">phone</th>
        <th nzWidth="200px">Phone Tech</th>
        <th nzWidth="200px">Officer</th>
        <th nzWidth="200px">Logo</th>
        <th nzWidth="200px">Virtual</th>
        <th nzWidth="200px">Smtp</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of entities">
        <td (click)="edit(data.id)" style="cursor:pointer" nzLeft="0px">
          <i nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top" (nzOnConfirm)="remove(data.id)"></i>
        </td>
        <td>{{data.language}}</td>
        <td>{{data.name}}</td>
        <td>{{data.emailSys}}</td>
        <td>{{data.emailPub}}</td>
        <td>{{data.addressLine1}}</td>
        <td>{{data.addressLine2}}</td>
        <td>{{data.www}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.phoneTech}}</td>
        <td>{{data.officer}}</td>
        <td>{{data.logo}}</td>
        <td>{{data.virtual}}</td>
        <td>{{data.smtp}}</td>

      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" type="name" id="name" formControlName="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="language">Language</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="languageId" nzAllowClear nzPlaceHolder="Язык">
            <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="emailSys">emailSys</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="emailSys" type="emailSys" id="emailSys" formControlName="emailSys">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="emailPub">emailPub</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="emailPub" type="emailPub" id="emailPub" formControlName="emailPub">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="addressLine1">AddressLine1</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="addressLine1" type="addressLine1" id="addressLine1" formControlName="addressLine1">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="addressLine2">AddressLine2</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="addressLine2" type="addressLine2" id="addressLine2" formControlName="addressLine2">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="www">www</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="www" type="www" id="www" formControlName="www">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="phone">phone</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="phone" type="phone" id="phone" formControlName="phone">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="phoneTech">phoneTech</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="phoneTech" type="phoneTech" id="phoneTech" formControlName="phoneTech">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="officer">officer</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="officer" type="officer" id="officer" formControlName="officer">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="logo">logo</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="logo" type="logo" id="logo" formControlName="logo">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="virtual">virtual</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="virtual" type="virtual" id="virtual" formControlName="virtual">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="smtp">smtp</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="smtp" type="smtp" id="smtp" formControlName="smtp">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="smtpPassword">smtpPassword</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="smtpPassword" type="smtpPassword" id="smtpPassword" formControlName="smtpPassword">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="smtpUsePub">smtpUsePub</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="smtpUsePub" type="smtpUsePub" id="smtpUsePub" formControlName="smtpUsePub">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="rowState">rowState</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="rowState" type="rowState" id="rowState" formControlName="rowState">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="dateStatus">dateStatus</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker nzFormat="dd.MM.yyyy" formControlName="dateStatus"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-modal>
</app-admin-layout>