<div class="login-form-container">
  <form
    nz-form
    [formGroup]="validateForm"
    class="login-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your nickName!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="nickName"
            placeholder="nickName"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Password"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>{{'rememberMe' | translate }}</span>
        </label>
	  </nz-form-control>
	  <nz-form-control>	
		  <label nz-checkbox formControlName="iReadAboutPersonal">
          <span>{{'iReadAboutPersonal' | translate }}</span>
        </label>
	  </nz-form-control>
	  <nz-form-control>	
		  <label nz-checkbox formControlName="iConfirmAgreement">
          <span>{{'iConfirmAgreement' | translate }}</span>
        </label>
	  </nz-form-control>
	  <nz-form-control>	
		  <label nz-checkbox formControlName="iKnowAboutCookies">
          <span>{{'iKnowAboutCookies' | translate }}</span>
        </label>
	  </nz-form-control>
        <div class="login-error" *ngIf="currentUser.hasLoginError">
          Неправильный логин или пароль
        </div>
        <a routerLink="/restore" class="login-form-forgot" class="login-form-forgot"
          >{{'forgotPassword' | translate}}</a
        >
		{{iReadAboutPersonal}}
		<button nz-button class="login-form-button" [nzType]="'primary'" 
			[disabled] = "!validateForm.value.iReadAboutPersonal ||
			!validateForm.value.iConfirmAgreement || !validateForm.value.iKnowAboutCookies" >
          {{'logIn' | translate}}
        </button>

        <a routerLink="/register" class="user-login"
          >{{'register' | translate}}</a
        >
        <br/>
		<div class="login-social">
        <!-- <a (click)="vkLogin($event)"> -->
        <!--   <i nz-icon style="width: 32px;margin-right: 5px;"> -->
        <!--     <vk-icon></vk-icon> -->
        <!--   </i> -->
        <!-- </a> -->
        <!-- <a (click)="fbLogin($event)" href="#"> -->
        <!--   <i nz-icon style="width: 32px;margin-right: 5px;"> -->
        <!--     <fb-icon></fb-icon> -->
        <!--   </i> -->
        <!-- </a> -->
        <a (click)="googleLogin($event)" href="#" [hidden] = "!validateForm.value.iReadAboutPersonal ||
			!validateForm.value.iConfirmAgreement || !validateForm.value.iKnowAboutCookies"  >
          <i nz-icon style="width: 32px;">
            <google-icon></google-icon>
          </i>
        </a>
		</div>
    </nz-form-item>
  </form>
</div>
