<div class="content-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">{{'main' | translate}}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/photos/sections">{{'sections' | translate}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <h1>{{section && section.name}}</h1>
  <div class="photos">
    <div *ngFor="let photo of photos" class="thumb-wrap">
      <img [src]="photo.imageUrl" class="thumb" (click)="showImage(photo.imageUrl)" />
      <div class="rate">
        {{photo.average | number:"1.2-2"}}
      </div>
      <div class="section-name">
        {{photo.name}}
      </div>
    </div>
  </div>
</div>

<app-preview-image [isImageVisible]="isImageVisible" [image]="currentImage" (clicked)="isImageVisible=false">
</app-preview-image>