<app-admin-layout>
  <h1>Cалоны</h1>
  <button class="margin-top-small margin-bottom-small" nz-button nzType="primary" (click)="append()">Добавить</button>
  <nz-table [nzData]="entities" [nzScroll]="{ x: '1700px', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px"></th>
        <th nzWidth="200px">Name</th>
        <th nzWidth="200px">Type</th>
        <th nzWidth="200px">Organizer</th>
        <th nzWidth="200px">Regular</th>
        <th nzWidth="200px">Private</th>
        <th nzWidth="200px">domain</th>
        <th nzWidth="200px">Design code</th>
        <th nzWidth="200px">Row state</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of entities" (click)="loadAbout(data.id)">
        <td style="cursor:pointer" nzLeft="0px">
          <i (click)="edit(data.id)" nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top" (nzOnConfirm)="remove(data.id)"></i>
        </td>
        <td>{{data.name}}</td>
        <td>{{data.saloneType}}</td>
        <td>{{data.organizer}}</td>
        <td>{{getRegularType(data.regular) | translate}}</td>
        <td>{{getPrivateType(data.private) | translate}}</td>
        <td>{{data.domain}}</td>
        <td>{{data.designCode}}</td>
        <td>{{data.rowState}}</td>
      </tr>
    </tbody>
  </nz-table>

  <button [disabled]="!currentSalone.id" class="margin-top-small margin-bottom-small" nz-button nzType="primary" (click)="appendAbout()">Добавить</button>
  <nz-table [nzData]="abouts" [nzLoading]="isAboutsLoading" [nzScroll]="{ x: '700px', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px"></th>
        <th nzWidth="200px">Name</th>
        <th nzWidth="200px">Language</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of abouts">
        <td style="cursor:pointer" nzLeft="0px">
          <i (click)="editAbout(data.id)" nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top" (nzOnConfirm)="removeAbout(data.id)"></i>
        </td>
        <td>{{data.name}}</td>
        <td>{{data.language}}</td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="name" type="name" id="name" formControlName="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="sprSaloneTypeId">Type</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="sprSaloneTypeId" nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let saloneType of saloneTypes" [nzValue]="saloneType.id" [nzLabel]="saloneType.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="organizerId">Organizer</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="organizerId" nzAllowClear nzPlaceHolder="Организатор">
            <nz-option *ngFor="let organizer of organizers" [nzValue]="organizer.id" [nzLabel]="organizer.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="regular">Regular</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="regular" nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let rt of regularTypes" [nzValue]="rt.id" [nzLabel]="rt.name | translate"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="private">Private</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select formControlName="private" nzAllowClear nzShowSearch="true">
            <nz-option *ngFor="let pt of privateTypes" [nzValue]="pt.id" [nzLabel]="pt.name | translate"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="domain">domain</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="domain" type="domain" id="domain" formControlName="domain">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="designCode">Design Code</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="designCode" type="designCode" id="designCode" formControlName="designCode">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="rowState">Row State</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="rowState" type="rowState" id="rowState" formControlName="rowState">
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-modal>

  <nz-modal nzWidth="1000" [(nzVisible)]="isAboutVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancelAbout()" (nzOnOk)="handleOkAbout()">
    <form nz-form [formGroup]="aboutForm">
      <nz-form-item>
        <nz-form-label nzFor="name">Name</nz-form-label>
        <nz-form-control>
          <input nz-input name="name" type="name" id="name" formControlName="name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="language">Language</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="languageId" nzAllowClear nzPlaceHolder="Язык">
            <nz-option *ngFor="let language of languages" [nzValue]="language.id" [nzLabel]="language.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <ckeditor formControlName="content" [editor]="Editor" [config]="ckconfig"></ckeditor>
      </nz-form-item>
    </form>

  </nz-modal>
</app-admin-layout>