<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light">
    <div class="logo"></div>
    <ul
      nz-menu
      nzTheme="light"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        *rbacShow="['superAdmin']"
        nz-submenu
        nzTitle="Основные"
        nzIcon="user"
        nzOpen="true"
      >
        <ul>
          <li nz-menu-item [nzMatchRouter]="true">
            <a routerLink="/admin/languages">Языки</a>
          </li>
          <li nz-menu-item [nzMatchRouter]="true">
            <a routerLink="/admin/lexicons">Словари</a>
          </li>
          <li nz-menu-item [nzMatchRouter]="true">
            <a routerLink="/admin/award-types">Награды</a>
          </li>
        </ul>
      </li>

      <li
        *rbacShow="['superAdmin', 'admin']"
        nz-submenu
        nzTitle="Пользователи"
        nzIcon="user"
        nzOpen="true"
      >
        <ul>
          <li nz-menu-item [nzMatchRouter]="true">
            <a routerLink="/admin/users">Пользователи</a>
          </li>
          <li nz-menu-item [nzMatchRouter]="true">
            <a routerLink="/admin/admins">Админы</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Организация" nzIcon="team" nzOpen="true">
        <ul>
          <li *rbacShow="['superAdmin']" nz-menu-item [nzMatchRouter]="true">
            <a routerLink="/admin/organizers">Организаторы</a>
          </li>
          <li
            *rbacShow="['superAdmin', 'admin']"
            nz-menu-item
            [nzMatchRouter]="true"
          >
            <a routerLink="/admin/salones">Салоны</a>
          </li>
          <li
            *rbacShow="['superAdmin', 'admin', 'moder']"
            nz-menu-item
            [nzMatchRouter]="true"
          >
            <a routerLink="/admin/contests">Конкурсы</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <ng-content></ng-content>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
