<nz-layout>
  <nz-sider nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li *rbacShow="['superAdmin']" nz-submenu nzTitle="Основные" nzIcon="user" nzOpen="true">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/languages">Языки</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/lexicons">Словари</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/awards-stacks">Награды</a>
          </li>
        </ul>
      </li>

      <li *rbacShow="['superAdmin', 'admin']" nz-submenu nzTitle="Пользователи" nzIcon="user" nzOpen="true">
        <ul>
          <li nz-menu-item>
            <a routerLink="/admin/users">Пользователи</a>
          </li>
          <li nz-menu-item>
            <a routerLink="/admin/admins">Админы</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Организация" nzIcon="team" nzOpen="true">
        <ul>
          <li *rbacShow="['superAdmin']" nz-menu-item>
            <a routerLink="/admin/organizers">Организаторы</a>
          </li>
          <li *rbacShow="['superAdmin', 'admin']" nz-menu-item>
            <a routerLink="/admin/salones">Салоны</a>
          </li>
          <li *rbacShow="['superAdmin', 'admin', 'moder']" nz-menu-item>
            <a routerLink="/admin/contests">Конкурсы</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <ng-content></ng-content>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>