<app-admin-layout>
  <h1>Пользователи</h1>
  <button *rbacShow="['superAdmin']" class="margin-top-small margin-bottom-small" nz-button nzType="primary" (click)="append()">Добавить</button>
  <nz-table [nzData]="entities" [nzScroll]="{ x: '2260px', y: '240px' }">
    <thead>
      <tr>
        <th nzWidth="60px"></th>
        <th nzWidth="60px">id</th>
        <th nzWidth="200px">firstName</th>
        <th nzWidth="200px">lastName</th>
        <th nzWidth="200px">nickName</th>
        <th nzWidth="200px">avatar</th>
        <th nzWidth="200px">email</th>
        <th nzWidth="200px">phone</th>
        <th nzWidth="200px">userType</th>
        <th nzWidth="200px">awards</th>
        <th nzWidth="200px">createdAt</th>
        <th nzWidth="200px">rowState</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of entities">
        <td style="cursor:pointer">
          <i *rbacShow="['superAdmin']" (click)="edit(data.id)" nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px"></i>
          <i *rbacShow="['superAdmin']" nz-icon nzType="delete" nzTheme="outline" nz-popconfirm nzPopconfirmTitle="Удалить?" nzPopconfirmPlacement="top"
            (nzOnConfirm)="remove(data.id)"></i>
        </td>
        <td>{{data.id}}</td>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.nickName}}</td>
        <td>{{data.avatar}}</td>
        <td>{{data.email}}</td>
        <td>{{data.phone}}</td>
        <td>{{data.userType}}</td>
        <td>{{data.awards}}</td>
        <td>{{data.createdAt}}</td>
        <td>{{data.rowState}}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-modal [(nzVisible)]="isEditVisible" nzTitle="Редактирование" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="firstName">First name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="firstName" type="firstName" id="firstName" formControlName="firstName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="lastName">Last name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="lastName" type="lastName" id="lastName" formControlName="lastName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="nickName">Nick name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="nickName" type="nickName" id="nickName" formControlName="nickName">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="email" type="email" id="email" formControlName="email">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="phone">Phone</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="phone" type="phone" id="phone" formControlName="phone">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="password" type="password" id="password" formControlName="psw">
        </nz-form-control>
      </nz-form-item>

    </form>
  </nz-modal>
</app-admin-layout>